name: Build
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
    - name: install autotools
      run: brew install automake
      if: matrix.os == 'macos-latest'
    - name: apt-get-update
      run: sudo apt-get update -qq
    - name: install-libpcap
      run: sudo apt-get install -qq libpcap0.8-dev
    - name: autoreconf
      run: autoreconf --install
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
#    - name: make distcheck
#      run: make distcheck
